.AppBar {
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.Links {
    display: flex;
    justify-content: center;
}

.Link {
    padding-left: 25px;
    padding-right: 25px;
    color: #555;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    :hover {
        text-decoration: none;
    }
}

.Active {
    color: rgb(128, 0, 51);
}